* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    -webkit-box-shadow: -1px 7px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 7px 60px 0px rgba(0, 0, 0, 0.7/5);
    box-shadow: -1px 7px 60px 0px rgba(0, 0, 0, 0.75);
}

img {
    height: 190px;
}

.card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card_left span {
    font-weight: 400;
}

.card_left h1 {
    margin-top: 15px;
    font-size: 25px;
}

.card_left p {
    color: rgb(70, 70, 70);
}